@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.about-container {
  font-family: 'Roboto', sans-serif;
  padding: 20px;
  background-color: #f8f9fa;
  max-width: 1200px;
  margin: 0 auto;

  .about-header {
    text-align: center;
    margin-bottom: 50px;

    h1 {
      font-size: 3.5em;
      color: #0056b3;
      font-weight: 700;
    }

    p {
      font-size: 1.4em;
      color: #333;
      margin-top: 10px;
    }
  }

  .about-content {
    .about-section {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 50px;
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 255, 0.1);
      align-items: center;
      gap: 20px;

      .about-image {
        width: 40%;
        border-radius: 8px;
        transition: transform 0.3s ease;
        object-fit: cover;
      }

      .text-section {
        width: 55%;
        padding-left: 20px;

        h2 {
          font-size: 2.5em;
          color: #0056b3;
          margin-bottom: 20px;
        }

        p {
          font-size: 1.2em;
          line-height: 1.6;
          color: #555;
        }
      }
    }

    .values {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
      gap: 20px;
      margin-bottom: 50px;

      .value-item {
        background-color: #ffffff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 255, 0.1);
        text-align: center;
        transition: transform 0.3s ease;

        h3 {
          font-size: 1.8em;
          color: #0056b3;
        }

        p {
          font-size: 1.1em;
          color: #777;
        }

        &:hover {
          transform: translateY(-10px);
        }
      }
    }

    .testimonials {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: space-between;

      .testimonial-item {
        background-color: #ffffff;
        padding: 30px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 255, 0.1); /* Sombras en color celeste */
        text-align: center;
        width: 45%;

        p {
          font-size: 1.2em;
          line-height: 1.6;
          color: #555;
        }

        strong {
          font-size: 1.1em;
          margin-top: 15px;
          color: #0056b3;
        }
      }
    }

    .team {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: space-between;

      .team-member {
        text-align: center;
        width: 23%;
        transition: transform 0.3s ease;
        margin-bottom: 20px;

        img {
          width: 100%;
          height: 100%;
          max-height: 250px;
          border-radius: 50%;
          border: 5px solid #ddd;
          object-fit: cover;
          transition: transform 0.3s ease;
          box-shadow: 0 4px 8px rgba(0, 191, 255, 0.4);
        }

        p {
          font-size: 1.1em;
          margin-top: 10px;
          color: #333;
        }

        &:hover {
          transform: translateY(-10px);
        }

        &:hover img {
          transform: scale(1.1);
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .about-section {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .about-image {
    width: 80%;
    margin-bottom: 20px;
  }

  .text-section {
    width: 90%;
  }

  .values {
    grid-template-columns: 1fr;
  }

  .testimonials {
    flex-direction: column;
    align-items: center;
  }

  .testimonial-item {
    width: 90%;
    margin-bottom: 20px;
  }

  .team {
    flex-direction: column;
    align-items: center;
    .team-member {
      width: 80%;
    }
  }
  .about-section {
    padding: 20px;
  }

  .team {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }

  .team-member {
    text-align: center;
  }

  .team-member img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 191, 255, 0.4);
  }

  .team-member p {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
  }
}
