<div style="position: relative; width: 100%; height: 70vh;">
  <video autoplay muted loop style="width: 100%; height: 70%; object-fit: cover;">
      <source src="assets/Video3.mp4" type="video/mp4">
      Tu navegador no soporta el elemento de video.
  </video>
  <h2 style="position: absolute; top: 25%; left: 2%; color: rgb(255, 255, 255);font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; padding: 10px; border-radius: 5px; font-size: 3rem;">
      Sobre Nosotros
  </h2>

<section id="contenedor_principal"  class="py-24 flex flex-col items-center justify-center space-y-16 bg-[#fdf0d5]">


  <div id="contenedor" class="max-w-4xl w-full flex items-start justify-center space-x-8">
    <div id="contenedor1" class="w-1/2 text-center flex flex-col justify-between">
      <h2 class="text-3xl font-extrabold text-[#FFFFFF] mb-4">Nuestra Historia</h2>
      
      <p class="text-xl text-[#FFFFFF] curve-text bg-[#79D7BE] p-6 rounded-lg">
        En TutoríasMaster YJM, nacimos con el propósito de transformar la educación, brindando una alternativa personalizada y enfocada en las necesidades individuales de cada estudiante. Desde nuestros inicios, hemos creído que cada persona tiene un potencial único que merece ser cultivado y desarrollado. Nuestra misión es ofrecer una educación de calidad que se adapte a los ritmos y estilos de aprendizaje de cada uno, fomentando un ambiente de apoyo, confianza y crecimiento. Nos enfocamos en ofrecer soluciones que promuevan el desarrollo integral de nuestros estudiantes, no solo en lo académico, sino también en su crecimiento personal y emocional. 
      </p>
    </div>
    

    <div id="imagen1" class="w-1/2 flex justify-center items-start mt-15">
      <img id="imagenes1" src="https://images.pexels.com/photos/5428990/pexels-photo-5428990.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Imagen de Tutorías Master YJM" class="w-full h-full object-cover rounded-lg shadow-xl">
    </div>
  </div>
  
  <br>

  <div class="max-w-4xl w-full flex items-start justify-center space-x-8">

    <div id="imagen2" class="w-1/2 flex justify-center items-start mt-8">
      <img id="imagenes2" src="https://images.pexels.com/photos/8472788/pexels-photo-8472788.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="w-full h-full object-cover rounded-lg shadow-xl">
    </div>
    
    <div id="contenedor1" class="w-1/2 text-center flex flex-col justify-between">
      <h2 class="text-3xl font-extrabold text-[#FFFFFF] mb-4">Nuestro Servicio</h2>
      
      <p class="text-xl text-[#FFFFFF] curve-text">
        En TutoríasMaster YJM, nos especializamos en ofrecer un acompañamiento educativo que va más allá de la enseñanza tradicional. Nos enfocamos en identificar las fortalezas y áreas de mejora de cada estudiante para diseñar planes de estudio personalizados que promuevan su desarrollo integral. Nuestra metodología se basa en la empatía y el compromiso, creando espacios de aprendizaje donde los estudiantes se sientan motivados y seguros para alcanzar sus metas académicas. Trabajamos de la mano con ellos, adaptando nuestras estrategias según sus necesidades, para garantizar resultados positivos y duraderos.
      </p>
    </div>
  </div>
  
  <br>
  <div class="max-w-4xl w-full flex items-start justify-center space-x-8">
    <div id="contenedor1" class="w-1/2 text-center flex flex-col justify-between">
      <h2 class="text-3xl font-extrabold text-[#FFFFFF] mb-4">Lo que nos hace diferente</h2>
      <br>
      <p class="text-xl text-[#FFFFFF] curve-text">
        Lo que nos hace únicos en TutoríasMaster YJM es nuestra capacidad para adaptarnos de manera flexible a los distintos estilos de aprendizaje de cada estudiante. Sabemos que no todos los estudiantes aprenden de la misma manera ni al mismo ritmo, por lo que no seguimos una metodología rígida o estandarizada. En lugar de eso, trabajamos estrechamente con cada alumno para identificar sus fortalezas y áreas de mejora, personalizando cada sesión en función de sus necesidades y objetivos específicos. Ya sea que se trate de un enfoque visual, auditivo o kinestésico, nos aseguramos de que cada estudiante reciba la mejor atención aprendizaje.
      </p>
    </div>
    <div id="imagen3" class="w-1/2 flex justify-center items-start mt-8">
      <img id="imagenes3" src="https://images.pexels.com/photos/8106686/pexels-photo-8106686.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Imagen de Tutorías Master YJM" class="w-full h-full object-cover rounded-lg shadow-xl">
    </div>
  </div>
  <br><br>
  <br>
  <br>
  <h1 class="text-3xl font-extrabold text-[#FFFFFF] mb-4">Nuestra Mision, Vision y Valores</h1>
<br>
<br>

  <div id="myv" class="max-w-4xl w-full flex items-start justify-center space-x-8 mt-16">

    <div id="mision" class="w-1/3 text-center flex flex-col justify-between">

      <h2 class="text-3xl font-extrabold text-[#FFFFFF] mb-4">
        Nuestra Misión
      </h2>

      <i class="fas fa-bullseye text-4xl text-[#79D7BE] mb-4"></i>
      

      <p class="text-xl text-[#FFFFFF] curve-text">
        En TutoríasMaster YJM, nuestra misión es proporcionar una educación de calidad, personalizada y adaptada a las necesidades individuales de cada estudiante. Buscamos empoderar a nuestros alumnos a través del conocimiento y la práctica, para que logren sus objetivos académicos y profesionales con confianza.
      </p>
    </div>

    <div id="vision" class="w-1/3 text-center flex flex-col justify-between">

      <h2 class="text-3xl font-extrabold text-[#FFFFFF] mb-4">
        Nuestra Visión
      </h2>

      <i class="fas fa-eye text-4xl text-[#79D7BE] mb-4"></i>
      

      <p class="text-xl text-[#FFFFFF] curve-text">
        Nuestra visión es ser la opción educativa preferida por estudiantes y padres en la búsqueda de un aprendizaje de alta calidad, accesible y adaptado a todas las necesidades de cada uno. Queremos y deseamos  contribuir al desarrollo académico de cada estudiante y ser un pilar fundamental en su camino hacia el éxito.
      </p>
    </div>
  </div>
<br>


  <div id="valores" class="max-w-4xl w-full flex items-start justify-center mt-16">
    <div class="w-full text-center flex flex-col justify-between bg-[#012A4A] p-8 rounded-lg shadow-xl">
      <h2 class="text-3xl font-extrabold text-[#FFFFFF] mb-4">
        Nuestros Valores
      </h2>
      
      <p class="text-xl text-[#FFFFFF] curve-text">
        En TutoríasMaster YJM, nos guiamos por valores que son la base de nuestra filosofía educativa. Fomentamos la empatía, el compromiso y la responsabilidad, creando un ambiente de respeto y confianza. Valoramos la integridad, la colaboración y el aprendizaje continuo, siempre con el objetivo de empoderar a nuestros estudiantes para que alcancen sus metas de manera exitosa.
      </p>
    </div>
  </div>

  <br><br>

  <div class="max-w-4xl w-full flex flex-col items-center space-y-8 mt-16">
    <h2 class="text-3xl font-extrabold text-[#FFFFFF] mb-4">Nuestro Equipo de Trabajo</h2>
    <br>
    <br>
    
    <div class="flex space-x-8 w-full justify-center">
      <div id="tarjetas" class="w-1/3 h-72 bg-white p-6 rounded-lg shadow-lg text-center flex flex-col justify-between">
        <img src="assets/Mateo.jpg" alt="Persona 1" class="w-32 h-32 object-cover rounded-full mx-auto mb-4">
        <h3 class="text-xl font-bold text-[#012A4A]">Mateo Lopez</h3>
        <p class="text-md text-[#012A4A]">Fecha de nacimiento: 12 de Marzo, 2002</p>
        <p class="text-md text-[#012A4A]">Encargo: Fundador</p>
      </div>
    
      <div id="tarjetas" class="w-1/3 h-72 bg-white p-6 rounded-lg shadow-lg text-center flex flex-col justify-between">
        <img src="src/assets/Yadira.jpg" alt="Persona 2" class="w-32 h-32 object-cover rounded-full mx-auto mb-4">
        <h3 class="text-xl font-bold text-[#012A4A]">Yadira Palomo</h3>
        <p class="text-md text-[#012A4A]">Fecha de nacimiento: 15 de Enero, 2005</p>
        <p class="text-md text-[#012A4A]">Encargo: Tutora Principal</p>
      </div>
    
      <div id="tarjetas" class="w-1/3 h-72 bg-white p-6 rounded-lg shadow-lg text-center flex flex-col justify-between">
        <img src="assets/Joel.jpg" alt="Persona 3" class="w-32 h-32 object-cover rounded-full mx-auto mb-4">
        <h3 class="text-xl font-bold text-[#012A4A]">Joel Romero</h3>
        <p class="text-md text-[#012A4A]">Fecha de nacimiento: 11 de Junio, 2004</p>
        <p class="text-md text-[#012A4A]">Encargo: Fundador</p>
      </div>
    </div>
  </div>
  
<br>
<br>
<br>
</section>