<h2 style="text-align: center;">Actualizar formulario</h2>
<form (ngSubmit)="editar(formulario)" #formulario="ngForm" class="formulario-servicio">
  <!-- Campo ID -->
  <div class="mb-5">
    <label for="id" class="label">ID</label>
    <input type="text" name="id" [(ngModel)]="id" id="id" class="input" />
  </div>

<div class="mb-5">
    <label for="nombre" class="label">Nombre:</label>
    <input type="text" name="nombre" [(ngModel)]="nombre" id="nombre" class="input" required />
  </div>

  <div class="mb-5">
      <label for="apellido" class="label">Apellido:</label>
      <input type="text" name="apellido" [(ngModel)]="apellido" id="apellido" class="input" required />
    </div>

    <div class="mb-5">
      <label for="cedula" class="label">Cedula:</label>
      <input type="number" name="cedula" [(ngModel)]="cedula" id="cedula" class="input" required />
    </div>

    <div class="mb-5">
      <label for="telefono" class="label">Telefono:</label>
      <input type="number" name="telefono" [(ngModel)]="telefono" id="telefono" class="input" required />
    </div>

  <div class="mb-5">
      <label for="nivel" class="label">Nivel:</label>
      <select name="nivel" [(ngModel)]="nivel" id="nivel" class="input" required>
        <option value="" disabled selected>Selecciona una Nivel</option>
        <option value="Nivel 1">Nivel 1</option>
        <option value="Nivel 2">Nivel 2</option>
        <option value="Nivel 3">Nivel 3</option>
        <option value="Nivel 4">Nivel 4</option>
        
      </select>
    </div>

  
  
  <div class="mb-5">
    <label for="imagen" class="label">Imagen:</label>
    <input type="url" name="imagen" [(ngModel)]="imagen" id="imagen" class="input" required />
  </div>


  <button type="submit" class="btn">Guardar</button>
</form>