<div style="position: relative; width: 100%; height: 70vh;">
    <video autoplay muted loop style="width: 100%; height: 70%; object-fit: cover;">
        <source src="assets/Video4.mp4" type="video/mp4">
        Tu navegador no soporta el elemento de video.
    </video>
    <h2 style="position: absolute; top: 25%; left: 2%; color: rgb(255, 255, 255);font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; padding: 10px; border-radius: 5px; font-size: 3rem;">
        Suscribete
    </h2>


<section class="suscripcion-section">
    <div class="suscripcion-container">
        <div class="suscripcion-text-container">
            <h1 class="suscripcion-title">TutoriasMaster YJM</h1>
            <p class="suscripcion-description">
                Las tutorías ofrecen una experiencia de aprendizaje personalizada y adaptada a las necesidades de cada estudiante. A través de un enfoque individualizado, las tutorías permiten superar las barreras que pueden surgir en el proceso educativo, brindando la oportunidad de comprender conceptos más profundamente y de manera clara.

                Aprender con el apoyo de un tutor no solo mejora el rendimiento académico, sino que también fomenta la confianza y la motivación. Un tutor puede identificar las áreas de dificultad de manera más específica y ofrecer soluciones creativas y efectivas. Con la orientación adecuada, los estudiantes se sienten más seguros al enfrentar nuevos retos y son capaces de desarrollar habilidades cruciales para su futuro.
            </p>
            <a href="#" class="suscripcion-back-link">Volver 
                <svg class="arrow-icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </a>
        </div>
        <div class="suscripcion-form-container">
            <div class="suscripcion-form">
                <h2 class="suscripcion-form-title">Suscribirse</h2>
                <form action="#">
                    <div class="suscripcion-form-field">
                        <label for="nombre" class="suscripcion-label">Nombre:</label>
                        <input type="text" name="nombre" id="nombre" placeholder="Ej: Pepito" class="suscripcion-input" required />
                    </div>
                    <div class="suscripcion-form-field">
                        <label for="apellido" class="suscripcion-label">Apellido:</label>
                        <input type="text" name="apellido" id="apellido" placeholder="Ej: Rosero" class="suscripcion-input" required />
                    </div>
                    <div class="suscripcion-form-field">
                        <label for="telefono" class="suscripcion-label">Telefono:</label>
                        <input type="tel" name="telefono" id="telefono" placeholder="Ej: 0999999999" class="suscripcion-input" required />
                    </div>
                    <div class="suscripcion-form-field">
                        <label for="email" class="suscripcion-label">Email:</label>
                        <input type="email" name="email" id="email" placeholder="Ej: nombre@gmail.com" class="suscripcion-input" required />
                    </div>
                    <div class="suscripcion-form-field">
                        <label for="password" class="suscripcion-label">Contraseña:</label>
                        <input type="password" name="password" id="password" placeholder="••••••••" class="suscripcion-input" required />
                    </div>
                    <div class="suscripcion-checkbox">
                    </div>
                    <button type="submit" class="suscripcion-submit-button">Subscribirse</button>
                </form>
            </div>
        </div>
    </div>
</section>
