
<body >

<div class="card-container">
  <div class="card">
          <img class="rounded-t-lg" src="https://images.pexels.com/photos/3913012/pexels-photo-3913012.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="" />
      <div class="p-5">
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-white-900 dark:text-white">Tecnología
              </h5>
          <p class="mb-3 font-normal text-white-700 dark:text-white-400">Tecnología forma profesionales capaces de diseñar, desarrollar y gestionar soluciones tecnológicas innovadoras para resolver problemas prácticos en diversos sectores. </p>
      </div>
  </div>

  <div class="card">
          <img class="rounded-t-lg" src="https://images.pexels.com/photos/6980991/pexels-photo-6980991.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="" />
      
      <div class="p-5">
          
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-white-900 dark:text-white">Quimica</h5>
          <p class="mb-3 font-normal text-white-700 dark:text-white-400">Química prepara a los estudiantes para comprender y aplicar los principios de la química en la investigación, desarrollo y producción de productos y procesos químicos.</p>
      </div>
  </div>

  <div class="card">
          <img class="rounded-t-lg" src="https://images.pexels.com/photos/8199555/pexels-photo-8199555.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="" />
      <div class="p-5">
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-white-900 dark:text-white">Fisica</h5>
          <p class="mb-3 font-normal text-white-700 dark:text-white-400">Física se enfoca en el estudio de las leyes fundamentales del universo, analizando la materia, energía y sus interacciones para comprender fenómenos naturales y tecnológicos.</p>
          
      </div>
  </div>
</div>

<div class="card-container">
  <div class="card">
          <img class="rounded-t-lg" src="https://images.pexels.com/photos/935950/pexels-photo-935950.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="" />
      <div class="p-5">
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-white-900 dark:text-white">Historia
              </h5>
          <p class="mb-3 font-normal text-white-700 dark:text-white-400">Historia se dedica al estudio de los eventos pasados, sus causas y consecuencias, para comprender cómo han influido en el desarrollo de la humanidad y su presente.</p>
      </div>
  </div>

  <div class="card">
          <img class="rounded-t-lg" src="https://images.pexels.com/photos/7568794/pexels-photo-7568794.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="" />
      
      <div class="p-5">
          
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-white-900 dark:text-white">Artes</h5>
          <p class="mb-3 font-normal text-white-700 dark:text-white-400">Artes fomenta la creatividad y la expresión, enseñando a los estudiantes a desarrollar habilidades en diversas disciplinas como pintura, escultura, música, danza y más.</p>
      </div>
  </div>

  <div class="card">
          <img class="rounded-t-lg" src="https://images.pexels.com/photos/15116168/pexels-photo-15116168/free-photo-of-mujer-con-cabello-tenido.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="" />
      <div class="p-5">
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-white-900 dark:text-white">Musica</h5>
          <p class="mb-3 font-normal text-white-700 dark:text-white-400">Música se enfoca en el desarrollo de habilidades en interpretación, composición y teoría musical, preparando a los estudiantes para una carrera profesional en el ámbito musical.</p>
          
      </div>
  </div>
</div>

<div class="card-container">
  <div class="card">
          <img class="rounded-t-lg" src="https://images.pexels.com/photos/5212320/pexels-photo-5212320.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=22" alt="" />
      <div class="p-5">
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-white-900 dark:text-white">Matematicas
              </h5>
          <p class="mb-3 font-normal text-white-700 dark:text-white-400">Matemáticas se centra en el estudio de teorías matemáticas avanzadas, resolución de problemas y aplicaciones prácticas en diversas disciplinas científicas y tecnológicas.</p>
      </div>
  </div>

  <div class="card">
          <img class="rounded-t-lg" src="https://images.pexels.com/photos/3755759/pexels-photo-3755759.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="" />
      
      <div class="p-5">
          
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-white-900 dark:text-white">Filosofia</h5>
          <p class="mb-3 font-normal text-white-700 dark:text-white-400">Filosofía explora las grandes preguntas sobre la existencia, el conocimiento, la ética y la lógica, desarrollando habilidades de pensamiento crítico y reflexión profunda.</p>
      </div>
  </div>

  <div class="card">
          <img class="rounded-t-lg" src="https://images.pexels.com/photos/16032166/pexels-photo-16032166/free-photo-of-moda-persona-bikini-gente.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="" />
      <div class="p-5">
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-white-900 dark:text-white">Ingles</h5>
          <p class="mb-3 font-normal text-white-700 dark:text-white-400">Inglés se enfoca en el estudio del idioma, su gramática, literatura, y su uso en contextos culturales y profesionales, desarrollando habilidades avanzadas de comunicación en inglés.</p>
          
      </div>
  </div>
</div>

<form (ngSubmit)="guardarServicio(formulario)" #formulario="ngForm" class="formulario-servicio">
  <div class="mb-5">
    <label for="materia" class="label">Materia:</label>
    <select name="materia" [(ngModel)]="materia" id="materia" class="input" required>
      <option value="" disabled selected>Selecciona una materia</option>
      <option value="Tecnologia">Tecnología</option>
      <option value="Fisica">Física</option>
      <option value="Quimica">Química</option>
      <option value="Historia">Historia</option>
      <option value="Artes">Artes</option>
      <option value="Musica">Música</option>
      <option value="Matematicas">Matemáticas</option>
      <option value="Filosofia">Filosofía</option>
      <option value="Ingles">Inglés</option>
    </select>
  </div>

  <div class="mb-5">
    <label for="descripcion" class="label">Descripción:</label>
    <input type="text" name="descripcion" [(ngModel)]="descripcion" id="descripcion" class="input" required />
  </div>

  <div class="mb-5">
    <label for="horario" class="label">Horario:</label>
    <input type="time" name="horario" [(ngModel)]="horario" id="horario" class="input" required />
  </div>
  
  <div class="mb-5">
    <label for="imagen" class="label">Imagen:</label>
    <input type="url" name="imagen" [(ngModel)]="imagen" id="imagen" class="input" required />
  </div>


  <button type="submit" class="btn">Guardar</button>
</form>

</body>