<form (ngSubmit)="guardarEstudiante(formulario)" #formulario="ngForm" class="formulario-servicio">
  
  
  <div class="form-group">
    <label for="nombre" class="label">Nombre:</label>
    <input type="text" name="nombre" [(ngModel)]="nombre" id="nombre" class="input" required />
  </div>

  <div class="form-group">
    <label for="apellido" class="label">Apellido:</label>
    <input type="text" name="apellido" [(ngModel)]="apellido" id="apellido" class="input" required />
  </div>

  <div class="form-group">
    <label for="cedula" class="label">Cedula:</label>
    <input type="number" name="cedula" [(ngModel)]="cedula" id="cedula" class="input" required />
  </div>

  <div class="form-group">
    <label for="telefono" class="label">Telefono:</label>
    <input type="number" name="telefono" [(ngModel)]="telefono" id="telefono" class="input" required />
  </div>

  <div class="form-group">
    <label for="nivel" class="label">Nivel:</label>
    <select name="nivel" [(ngModel)]="nivel" id="nivel" class="input" required>
      <option value="" disabled selected>Selecciona un Nivel</option>
      <option value="Nivel 1">Nivel 1</option>
      <option value="Nivel 2">Nivel 2</option>
      <option value="Nivel 3">Nivel 3</option>
      <option value="Nivel 4">Nivel 4</option>
    </select>
  </div>


  <button type="submit" class="btn">Guardar</button>
</form>
<header>
  <button (click)="logout()" type="button" class="logout-btn">
    Cerrar sesión
  </button>
</header>
<footer>
  <div class="container">
      <p>&copy; 2025 TutoriasMaster YJM. Todos los derechos reservados.</p>
      <div class="social-links">
          <a href="https://facebook.com" target="_blank">Facebook</a>
          <a href="https://twitter.com" target="_blank">Twitter</a>
          <a href="https://instagram.com" target="_blank">Instagram</a>
      </div>
  </div>
</footer>