<section class="home-banner">
    <video autoplay muted loop class="banner-video">
        <source src="assets/Video1.mp4" type="video/mp4">
    </video>
    <div class="container">
        <img src="assets/LogoClaro.png" alt="Logo de TutoriasMaster" class="logo">
        <h1 class="title">TutoriasMaster YJM</h1>

        <p class="description">
            "Aprender no es solo adquirir conocimientos, es abrir puertas a nuevas posibilidades y descubrir el poder que tienes para cambiar tu mundo."
        </p>

        <div class="buttons">
            <a href="servicio" class="subscription-btn">
                Nuestros servicios
            </a>
        </div>
    </div>
</section>


<div class="card-container">
    <div class="card">
        <a href="#">
            <img class="rounded-t-lg" src="https://images.pexels.com/photos/7972329/pexels-photo-7972329.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="" />
        </a>

        <div class="p-5">
            <a href="#">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Razones para estudiar en TutoríasMaster YJM

                </h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">El programa de Tutorías Master YJM se distingue por ofrecer una formación académica rigurosa que va más allá de la teoría. </p>
            <a href="nosotros" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Nosotros
                 <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </a>
        </div>
    </div>

    <div class="card">
        <a href="#">
            <img class="rounded-t-lg" src="https://images.pexels.com/photos/3184659/pexels-photo-3184659.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="" />
        </a>
        <div class="p-5">
            <a href="#">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Flexibilidad y Adaptabilidad</h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Tutorías Master YJM comprenden la importancia de balancear los estudios con otras responsabilidades..</p>
            <a href="suscripcion" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Suscripcion
                 <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </a>
        </div>
    </div>

    <div class="card">
        <a href="#">
            <img class="rounded-t-lg" src="https://images.pexels.com/photos/11654949/pexels-photo-11654949.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="" />
        </a>
        <div class="p-5">
            <a href="#">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Compromiso con la Excelencia</h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">El programa se compromete a ofrecer un alto nivel de calidad, asegurando que los estudiantes reciban la mejor formación posible.</p>
            <a href="servicio" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Servicio
                 <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </a>
        </div>
    </div>
</div>


<section class="section">
    <div class="container">
        <h1 class="title">Bienvenido a TutoríasMaster YJM</h1>
        <p class="description">En nuestra plataforma, tu aprendizaje es nuestra prioridad. Ya sea que busques ayuda con tus estudios, mejorar habilidades específicas o resolver dudas académicas, estamos aquí para apoyarte en cada paso del camino. Conecta con tutores expertos, accede a recursos educativos y mejora tu rendimiento de manera personalizada y flexible.</p>
        <div class="cta-container">
            <a href="contactos" class="contact-link">
                Contáctanos
            </a>  
        </div>
    </div>
</section>
