<nav class="navbar-container">
  <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl p-4">
    <a href="#" class="navbar-logo">
      <img src="assets/LogoClaro.png" class="h-60" alt="Logo" />
      <span class="self-center">TutoriasMaster YJM</span>
    </a>
  </div>
</nav>

<nav class="navbar-menu">
  <div class="max-w-screen-xl px-4 py-3 mx-auto">
    <div class="flex items-center">
      <ul class="navbar-menu-list">
        <li>
          <a routerLink="home" class="navbar-link" aria-current="page">Home</a>
        </li>
        <li>
          <a routerLink="suscripcion" class="navbar-link">Suscripcion</a>
        </li>
        <li>
          <a routerLink="nosotros" class="navbar-link">Nosotros</a>
        </li>
        <li>
          <a routerLink="contactos" class="navbar-link">Contactos</a>
        </li>
        <li>
          <a routerLink="servicio" class="navbar-link">Servicios</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

  

  