
.navbar-container {
    background-color:#2C7DA0;
}
  
.navbar-logo {
    display: flex;
    color: #000000;
    align-items: center;
    gap: 0.9¿0rem;
}
  
.navbar-logo img {
    height: 3rem;
}
  
.navbar-logo span {
    font-size: 1.5rem;
    font-weight: 700;
}
  
.navbar-menu {
    background-color: #398bae ;
}
  
.navbar-menu-list {
    display: flex;
    gap: 2rem;
    font-weight: 500;
    font-size: 0.875rem;
}
  
.navbar-link {
    color: #F6F4F0;
    text-decoration: none;
}
  
.navbar-link:hover {
    text-decoration: underline;
}
